/* ****** GENERAL ***** */

* {
  box-sizing: border-box;
  font-family: Impact;
}

body {
  background-color: white;
  margin: 0;
}

/* ****** TOP ***** */

.logo {
  color: white;
  height: 50px;
  margin-top: 30px;
}

.burger {
  display: none;
  font-size: 40px;
  z-index: 1;
  color: white;
  margin-top: 20px;
}

li {
  list-style-type: none;
  font-size: 2rem;
  margin: 0;
  margin-right: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

li:hover {
  cursor: pointer;
}

.nav {
  list-style-type: none;
  display: flex;
}

.main-header {
  background-color: orangered;
  display: flex;
  justify-content: space-between;
}

.close-menu {
  transform: translateX(0) !important;
}

/* ****** CENTER ***** */

/* ****** GALLERY ***** */

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  gap: 0px;
  grid-auto-rows: 275px;
  /* grid-auto-columns: 250px;  */
  justify-items: start;
  grid-row-gap: 15px;
}

img {
  height: 100%;
}

img:hover {
  cursor: pointer;
}

.icon:hover,
.img:hover {
  cursor: pointer;
  border: white 3px solid;
}

.meme-editor {
  display: none;
  justify-content: space-around;
}

.gallery {
  margin-top: 25px;
}

.search-box {
  margin-top: 25px;
  margin-left: 20px;
}

/* ****** MEME-EDITOR ***** */

input {
  height: 3.5rem;
  width: 30rem;
  font-size: 3rem;
}

canvas {
  margin: 20px;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
}

.buttons {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1.5rem 1.5rem repeat(5, 1fr);
  gap: 10px;
  grid-template-areas:
    'input0 input0 input0 input0 input0'
    'input1 input1 input1 input1 input1'
    'up down switch-lines add-lines delete'
    'increse-font decrese-font ltr center rtl'
    'font-type font-type font-type stroke-color font-color'
    'stickers stickers stickers stickers stickers'
    'share share . download download  ';
}

button {
  font-size: 1.5rem;
  background-color: white;
  min-width: 20px;
  min-height: 20px;
}

.icon {
  width: 2rem;
  height: 2rem;
}

#input0 {
  margin: 5px;
  grid-area: input0;
}
#input1 {
  margin: 5px;
  grid-area: input1;
}
.up {
  grid-area: up;
}
.down {
  grid-area: down;
}
.switch-lines {
  grid-area: switch-lines;
}
.add-lines {
  grid-area: add-lines;
}
.delete {
  grid-area: delete;
}
.increse-font {
  grid-area: increse-font;
}
.decrese-font {
  grid-area: decrese-font;
}
.switch-lines {
  grid-area: switch-lines;
}
.ltr {
  grid-area: ltr;
}
.center {
  grid-area: center;
}
.rtl {
  grid-area: rtl;
}
.font-type {
  grid-area: font-type;
}
.stroke-color {
  grid-area: stroke-color;
}
.font-color {
  grid-area: font-color;
}
.stickers {
  grid-area: stickers;
}
.share {
  grid-area: share;
}
.download {
  grid-area: download;
}

/* ****** BOTTOM ***** */

footer {
  margin-top: 100px;
  height: 200px;
  background-color: orangered;
  font-size: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MOBILE */

@media (max-width: 740px) {
  .meme-editor {
    flex-direction: column;
  }
  input {
    height: 3.5rem;
    width: 20rem;
    font-size: 1rem;
  }
  .burger {
    display: block;
    margin-right: 20px;
  }

  .nav {
    position: absolute;
    padding: none;
    flex-direction: column;
    background-color: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60.5vh;
    background-color: orangered;
    border: white 1px solid;
    /* width: 100vh; */
    transform: translateX(500%);
    /* transform: translateX(0); */
  }

  ul {
    width: 100%;
    border: white 1px solid;
    display: flex;
    justify-content: center;
  }

  .img {
    margin: 10px auto;
  }
}
