/* ****** GENERAL ***** */

* {
  box-sizing: border-box;
  font-family: Impact;
}

body {
  background-color: white;
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  margin: 0;
  text-align: left;
}

button:hover {
  cursor: pointer;
}

.btn:hover {
  background-color: orangered;
}

/* ****** TOP ***** */

.logo {
  color: white;
  height: 50px;
  align-self: center;
}

.burger {
  display: none;
  font-size: 40px;
  z-index: 1;
  color: white;

  align-self: center;
}

li {
  list-style-type: none;
  font-size: 2rem;
  margin: 0;
  margin-right: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

li:hover {
  cursor: pointer;
}

.nav {
  list-style-type: none;
  display: flex;
}

.main-header {
  background-color: orangered;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px black solid;
  height: 70px;

  /* align-items: center; */
}

.close-menu {
  transform: translateX(0) !important;
}

/* ****** CENTER ***** */

.modal {
  width: 400px;
  height: 400px;
  background-color: orangered;
  color: white;
  font-size: 1.4rem;
  padding: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  border: 2px black solid;
}

.modal-hide {
  display: none;
}

/* ****** GALLERY ***** */

.meme-gallery {
  display: none;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 15px;
  margin: 10px auto;
  grid-auto-rows: 200px;
  width: 90%;
}

.gallery {
  margin: 15px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 15px;
  grid-auto-rows: 200px;
  width: 95%;
  margin: 0 auto;
}

img {
  height: 100%;
}

img:hover {
  cursor: pointer;
}

.icon:hover,
.img:hover {
  cursor: pointer;
  border: white 3px solid;
}

.meme-editor {
  display: none;
  justify-content: space-around;
  margin-top: 50px;
}

.gallery {
  margin-top: 25px;
}

.search-box {
  margin-top: 25px;
  margin-left: 20px;
}

/* ****** MEME-EDITOR ***** */

#input0 {
  height: 3.5rem;
  width: 30rem;
  font-size: 3rem;
}

canvas {
  margin: 20px;
  border: 2px black solid;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
}

/* ****** GRID DESIGN ****** */

.buttons {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  grid-template-areas:
    'up down switch-lines add-lines delete'
    'increse-font decrese-font ltr center rtl'
    'font-type font-type font-type stroke-color font-color'
    'fb share save download download';
}

button {
  font-size: 1.5rem;
  background-color: white;
  min-width: 20px;
  min-height: 20px;
  border: 2px black solid;
  border-radius: 20px;
}

.icon {
  width: 2rem;
  height: 2rem;
  border: none;
}

#input0 {
  margin: 5px;
  grid-area: input0;
}
.up {
  grid-area: up;
}
.down {
  grid-area: down;
}
.switch-lines {
  grid-area: switch-lines;
}
.add-lines {
  grid-area: add-lines;
}
.delete {
  grid-area: delete;
}
.increse-font {
  grid-area: increse-font;
}
.decrese-font {
  grid-area: decrese-font;
}
.switch-lines {
  grid-area: switch-lines;
}
.ltr {
  grid-area: ltr;
}
.center {
  grid-area: center;
}
.rtl {
  grid-area: rtl;
}
.font-type {
  grid-area: font-type;
  border: none;
  padding: 0;
}
.input-font-type {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  border-radius: 20px;
  border: 2px black solid;
  outline: none;
  text-align: center;
}
.stroke-color {
  grid-area: stroke-color;
}
.input-stroke-color {
  grid-area: stroke-color;
  width: 100%;
  height: 100%;
}
.fb {
  display: none;
}
.font-color {
  grid-area: font-color;
}
.input-color {
  grid-area: font-color;
  width: 100%;
  height: 100%;
}
.stickers {
  grid-area: stickers;
}

form {
  height: 100%;
}

.share {
  grid-area: share;
  padding: 0;
  width: 100%;
  height: 100%;
}
.input-share {
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  border-radius: 20px;
  border: 2px black solid;
  outline: none;
}

.download {
  grid-area: download;
}

.save {
  grid-area: save;
}

.stickers-icons {
  text-align: center;
}

/* ****** BOTTOM ***** */

footer {
  border-top: 2px black solid;
  /* margin-top: 230px; */
  height: 200px;
  background-color: orangered;
  font-size: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
}

/* MOBILE */

@media (max-width: 740px) {
  .meme-editor {
    flex-direction: column;
  }
  input {
    height: 3.5rem;
    width: 20rem;
    font-size: 1rem;
  }
  .burger {
    display: block;
    margin-right: 20px;
  }

  .nav {
    position: absolute;
    padding: none;
    flex-direction: column;
    background-color: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60.5vh;
    background-color: orangered;
    border: white 1px solid;
    /* width: 100vh; */
    transform: translateX(500%);
    transition: transform 0.6s;
    /* transform: translateX(0); */
  }

  ul {
    width: 100%;
    border: white 1px solid;
    display: flex;
    justify-content: center;
    margin: 0;
  }

  li {
    border-bottom: 2px white solid;
    width: 100%;
    height: 100%;
  }

  .img {
    margin: 10px auto;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    gap: 0px;
    grid-auto-columns: 93px;
    grid-auto-rows: 81px;
    justify-items: start;
    grid-row-gap: 6px;
  }
}
