* {
  box-sizing: border-box;
  /* background-color: orangered; */
}

body {
  background-color: lightgray;
  margin: 0;
}

.logo {
  height: 50px;
  margin-top: 30px;
}

li {
  list-style-type: none;
  font-size: 2rem;
  margin: 0;
  margin-right: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

li:hover {
  cursor: pointer;
}

.nav {
  list-style-type: none;
  display: flex;
}

.main-header {
  background-color: orangered;
  display: flex;
  justify-content: space-between;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  gap: 0px;
  grid-auto-rows: 275px;
  /* grid-auto-columns: 250px;  */
  justify-items: start;
  grid-row-gap: 15px;
}

img {
  height: 100%;
}

img:hover {
  cursor: pointer;
  border: gold 3px solid;
}

.meme-editor {
  display: none;
}

.gallery {
  margin-top: 25px;
}

.search-box {
  margin-top: 25px;
  margin-left: 20px;
}

footer {
  margin-top: 100px;
  height: 200px;
  background-color: orangered;
  font-size: 2rem;
  /* margin: 0; */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
